// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.embed-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.featured {
    clear: both;
    display: box;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.entry-content {
    font-size: 14px;
}

h1.entry-title {
    font-size: 1.8em;
}

#content .blog-index h1.entry-title {
   font-size: 1.8em;
}

ul {
margin:20px;
}

ol {
margin:20px;
}
