<ul class="main-navigation">
        <li><a href="http://docs.rackspace.com/">API Information</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/rackspace-open-cloud-reference-architecture">Reference Architecture</a></li>
        <li><a href="http://docs.rackspace.com/sdks/guide/content/intro.html">SDKs</a></li>
	<!--<ul>
        	<li><a href="http://docs.rackspace.com/sdks/guide/content/java.html">Java</a></li> 
        	<li><a href="http://docs.rackspace.com/sdks/guide/content/php.html">PHP</a></li> 
        	<li><a href="http://docs.rackspace.com/sdks/guide/content/python.html">Python</a></li> 
      	</ul>-->
	<li><a href="http://www.rackspace.com/information/events/industryevents/">Events</a></li>
        <li><a href="http://status.rackspace.com/">System Status</a></li>
</ul>
