<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<meta property="og:image" content="http://c15162226.r26.cf2.rackcdn.com/Rackspace_Cloud_Company_Logo_clr_600x218.jpg" />
<link rel="image_src" href="http://c15162226.r26.cf2.rackcdn.com/Rackspace_Cloud_Company_Logo_clr_600x218.jpg">